.console
{
    width: 100%;
    height: 100%;

    &__output_wrapper
    {
        overflow-y: auto;

        width: 100%;
        height: 100%;
    }

    &__output
    {
        font-size: 12px;

        overflow-y: hidden;
    }

    .input
    {
        width: 95%;
    }

    .button
    {
        width: 5%;
    }
}