.tab
{
    &__header
    {
        float: left;

        min-width: 130px;

        text-align: center;
        text-decoration: none;
        color: black;

        border-style: solid;
        border-width: 1px;

        padding: 2px;

        cursor: pointer;
    }

    &__header:hover
    {
        color: #428bca;
    }
    
    &__content
    {
        width: 100%;
        height: 40%;

        border-style: solid;
        border-width: 1px;

        display: none;
    }   
}